<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="product.prison">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".view.live.LiveApkActivity" />
        <activity android:name=".view.video.PlayerActivity" />
        <activity android:name=".view.live.LiveActivity" />
        <activity android:name=".view.record.RecordActivity" />
        <activity android:name=".view.video.VideoActivity" />
        <activity android:name=".view.set.SetActivity" />
        <activity android:name=".view.ad.NowinsActivity" />
        <activity android:name=".view.video.VideoTypeActivity" />
        <activity android:name=".view.video.VideoApkActivity" />
        <activity android:name=".view.set.WebActivity" />
        <activity android:name=".view.set.WifiActivity" />
        <activity android:name=".view.set.UsbActivity" />
        <activity android:name=".view.info.InfoActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>