<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="product.prison">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.live.LiveApkActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.video.PlayerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.live.LiveActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.record.RecordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.video.VideoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.set.SetActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.ad.NowinsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.video.VideoTypeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.video.VideoApkActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.set.WebActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.set.WifiActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.set.UsbActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.info.InfoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.news.NewsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.game.GameActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.satisfied.SatisfiedActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.msg.NoticeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>